#banner{
	margin-top: 60px;
	position: relative;
}

#banner img{
	width: 60%;
	height: 60%;
}

#banner .contenedor{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	color: #000;
}
#banner h1{
   font-family: Georgia, 'Times New Roman', Times, serif;
   position:initial;
   align: right;
   color:#fff;
   font-size:350%;
   text: shadow #000 20px;

}
#banner h2{
	font-size: 30px;
	text-align: left;
}

#banner a{
	display: block;
	width: 100px;
	color:orange;
	text-decoration:none;
	padding: 7px;
	margin-top: 10px;
	border: 3px solid #fff;
}

#banner a:hover{
	background: rgba(255,255,255,.5);
}

@media(min-width: 420px){
	#banner h2{
		font-size: 80px;
	}
	
	#banner img{
		height: auto;
		margin-top: -100px;
	}

	#banner a{
		margin-top: 25px;
	}
	
}

/*Tablets*/
@media(min-width: 768px){
	#banner{
		height: 300px;
		overflow: hidden;
	}

	#banner img{
		height: auto;
		margin-top: -100px;
	}
}

/*Escritorio*/
@media(min-width: 1024px){
	#banner img{
		margin-top: -200px;
	}

}
